{
  "plugins": [
    "react"
  ],
  "extends": [
    "google",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-invalid-this": "off",
    "require-jsdoc": "off"
  }
}